.profil{
	position: absolute;
	width: 100%;
	padding: 0 50px 0 50px;
}
.name {
	padding: 5px;
}
#nasserdine {
	background-color: yellow;
}
#dylan {
	background-color: green;
}
#soufiane {
	background-color: red;
}
#loic {
  background-color: grey;
}
#boris{
  background-color: white;
}

#abdoulaye{
	  background-color: lightgray;
}

#dounia{
	background-color: pink;
}

#eric {
	background-color: lime;
}
#daphne {
	background-color: black;
}

#charlotte{
	background-color: purple;
}